body {
  background-color: rgb(194, 37, 87);
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  width: 80%;
  height: 75%;
}

.box1-container {
  display: 'flex';
  flex: 1;
  background: url('./img/background.jpg') center center no-repeat;
  background-size: cover;
  border-radius: 10px 0 0px 10px;
}

.box1-content {
  font-size: 2rem;
  text-align: center;
  color: white;
}

.box2-container {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  background-color: rgb(80, 67, 117);
  border-radius: 0 10px 10px 0px;
  align-items: center;
}

.box2-content {
  margin-top: 75px;
}

input[type='text'] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px rgb(194, 37, 87);

  padding-bottom: 4px;
  padding-top: 4px;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type='text']::placeholder {
  color: rgba(128, 128, 128, 0.5);
}

input[type='text']:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(80, 67, 117) inset;
  -webkit-text-fill-color: white !important;
}

button {
  border: 0;
  padding: 8px 20px;
  background: rgb(194, 37, 87);
  border-radius: 2px;
  color: white;
}

button:hover {
  cursor: pointer;
}

.weather-key {
  display: block;
  color: rgb(194, 37, 87);
  font-size: 1.5rem;
}

.weather-key span {
  color: rgb(194, 37, 87);
}

.weather-value {
  color: white !important;
}

.weather-container {
  width: 50%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.weather-error {
  color: rgb(194, 37, 87);
  font-size: 1.5rem;
}
